<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
    <link rel="stylesheet" href="components/leaflet/dist/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="components/leaflet/dist/leaflet.ie.css" />
    <![endif]-->
    
    <script src="components/jquery/jquery-1.10.1.min.js"></script>
    <script src="components/leaflet/dist/leaflet.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-cookies/angular-cookies.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="scripts/infinite-scroll.js"></script>
    <script src="components/ui-bootstrap/ui-bootstrap-tpls-0.4.0-SNAPSHOT.min.js"></script>
    <script src="components/indexed-db-shim/IndexedDBShim.min.js"></script>
  </head>
  <body ng-app="TEMAPApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="DataUpdateCtrl" ng-switch on="updating">
      <span class="loading-center" ng-switch-when="true"><img src="styles/ajax-loader.gif"/> {{loadMessage.getCurrent()}}</span>
      <div ng-cloak ng-switch-when="false" ng-controller="TabCtrl">
        <tabset id="header-menu">
            <tab heading="Objekttyp" active="typeTab.active" disabled="typeTab.disabled">
              <ul ng-controller="ObjektTypCtrl" class="object-list">
                <li ng-click="setType(t)" ng-repeat="t in objectTypes">
                  <a href="javascript:void(0)">
                    <span>{{t.name}}</span>
                  </a>
                </li>
              </ul>
            </tab>
            <tab heading="Objekt" active="objTab.active" disabled="objTab.disabled">
              <div ng-controller="ObjektCtrl" ng-switch on="ObjectType.selected">
                <div class="object-list-filter">
                  <div class="input-append">
                    <button class="btn filter-item" ng-disabled="scrollItems.positionUnavailable" ng-click=toggleGeoSort()><i ng-class="{true:'icon-ok-sign', false:'icon-minus-sign'}[scrollItems.geoSort]"></i> Geografisk sortering</button>
                    <input class="filter-text filter-item" ng-change="applyTextFilter()" ng-model="scrollItems.filter.text" type="text" placeholder="Sökfilter"></input></div>
                </div>
                <div style="height:{{scrollItems.topPadSize}}px"></div>
                  <ul class="object-list filterable" infinite-scroll="scrollItems.loadMore($event)" infinite-scroll-distance="1">
                    <li ng-click="selectItem(item)" ng-repeat="item in scrollItems.currentItems | orderBy:n">
                      <a href="javascript:void(0)"><span>{{item.n}}</span></a>
                    </li>
                  </ul>
                  <div style="height:{{scrollItems.bottomPadSize}}px"></div>
              </div>
            </tab>
            <tab heading="Karta" active="mapTab.active" disabled="mapTab.disabled">
              <map highlight-marker="data.getSelectedItem()" markers="data.getClosestItems()" update-size="mapTab.updateSize" autosize="#header-menu > div > ul, .object-list-filter"></map>
            </tab>
        </tabset>
      </div>
    </div>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/tab.js"></script>
    <script src="scripts/controllers/objektTyp.js"></script>
    <script src="scripts/controllers/objekt.js"></script>
    <script src="scripts/services/scrollItems.js"></script>
    <script src="scripts/directives/autosize.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="scripts/controllers/dataUpdate.js"></script>
    <script src="scripts/services/db.js"></script>
    <script src="scripts/services/geo.js"></script>
    <script src="scripts/directives/map.js"></script>
    <script src="scripts/services/mergeSort.js"></script>
    <script src="scripts/services/loadMessage.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script-->
  </body>
</html>
